input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size:100%;
  margin: 0;
  padding: 0;
  background:#EAE3EA;
  color:#fff;
  height: 100%;
  width: 100%;
}
textarea{
  font-size:100%;
  font-weight:normal;
  width: 97%;
  margin-top: 20px;
  margin-left: 8px;
  background-color: inherit;
  border: 0px;
  resize: none;
  outline: none;
  grid-area: text;
}
.container{
  height: 100%;
  width: 100%;
  position: absolute;
}
.sticky_note {
  position: absolute;
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  resize: both;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
.inner_container {
  margin: 2px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 10% 3%;
  grid-template-areas: 
    "text"
    "footer";
}
.inner_container_login {
  margin: 2px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 30% 40%;
  grid-template-areas: 
    "title"
    "input"
    "buttons";
}
.login_title{
  grid-area: title;
  text-align: center;
  font-size: 48px;
}
.login_inputs {
  padding: 0 132px;
  grid-area: input;
  text-align: center; 
  display: flex;
  flex-direction: column;
}
.login_input_field {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0.2);
  border-radius: 20px;
  margin: 10px;
  padding: 10px 15px;
}
.login_buttons {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0.2);
  border-radius: 20px;
  height: 38px;
  margin: 10px;
}
.login_footer {
  padding: 0 200px;
  grid-area: buttons;
  text-align: center; 
  display: flex;
  flex-direction: column;

}
.inner_container_menu {
  margin: 2px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 30%;
  grid-template-areas: 
    "text"
    "footer";
}
.footer {
  grid-area: footer;
}
button {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0.2);
  border-radius: 20px;
  float: right;
  margin-right: 15px;
}
button.deleteButton {
  float: left;
  margin-left: 15px;
}
